#ho-image {
    color: #fff;
    background-color: #f2f2f2;

    .ho-container {
        background: #fff;
        min-height: 100vh;
        display: flex;
        align-items: center;

        .ho-text {
            font-family: 'Anton', sans-serif;
            font-size: 4rem;
            width: 100%;
            text-align: center;
            color: transparent;
            font-weight: 300;
            background-image: url("../assets/bg-gold.jpg");
            background-size: cover;
            background-position-y: center;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}